
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet+</title>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/core/css/style.css">
    <link rel="stylesheet" href="../../static/core/js/main.js">



<h2>Servicios</h2>
<table> 
  <tr>
    <td>Nombre</td>
    <td>Precio</td>
    <td>Descripcion</td>

</tr>

{% for p in servicios %}
<tr>
    <td>{{ p.nombreServicio }}</td>
    <td>{{ p.precioServicio }}</td>
    <td>{{ p.descripcionServicio }}</td>
    <td><a href="{% url 'eliminarServicio' p.nombreServicio %}">Eliminar</a><br>
    </td>
</tr>

{% endfor %}
  </table>
