<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet+</title>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/core/css/style.css">
    <link rel="stylesheet" href="../../static/core/js/main.js">
</head>
<body>
  <header>
    <nav class="row navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: #f5c271;">Pet+</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
    {% load static %}
  <section class="container_modificar_mascotas">
    <h2>Modifica los datos de tu mascota</h2>

    <form action="{% url 'mascotaModificar' %}" class="formulario" id="formulario" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ form.as_p }}
        <div class="formulario__grupo-input">
          <label>Nombre de la mascota: </label>
          <input value="{{ mascota.nombreMascota }}" type="text" class="formulario__input" id="nombreMascota" name="nombreMascota" required>
        </div> 

   <div class="formulario__grupo-input">
        <label>Edad de la mascota: </label>
        <input value="{{ mascota.edadMascota }}"type="number" class="formulario__input" id="edadMascota" name="edadMascota" required>
    </div> 

    <div class="formulario__grupo-input">
        <label>Raza de la mascota: </label>
        <input value="{{ mascota.razaMascota }}"type="text" class="formulario__input" id="razaMascota" name="razaMascota" required>
    </div> 

    <div class="formulario__grupo-input">
        <label>Nombre del dueño: </label>
        <select class="formulario__input" name="nombre" id="nombre">
            {% for x in cliente %}
                <option value="{{x.codigoCliente}}">{{x.nombre}}</option>
            {% endfor %}
        </select>

    </div>
    </div>


    <div class="formulario__grupo formulario__grupo-btn-enviar">
        <button type="submit" style="padding-left: 1rem; padding-right: 1rem;" class="btn-primary">Enviar</button>
        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Ingreso exitoso</p>
      </div><br>

    </form>
  </section>
  <footer>
    <div class="row">
      <div class="col-md-4 footer-logo">
        <img src="{% static 'core/img/logo_1.jpeg'%}" class="logo" alt="Pet+">
      </div>
      <div class="col-md-4 contact-info">
        <a href="https://api.whatsapp.com/send?phone=+573138612304&text=Hola, estoy intersad@ en trabajar con ustedes (Indicar si es como transportador o médico veterinario)" class="footer-btn">Trabaja con nosotros</a>
        <ul><br>
          <li>
            <a href="#" target="_blank"><img src="{% static 'core/img/icono_tw.png'%}" alt="twitter"></a>
          </li>
          <li>
            <a href="https://api.whatsapp.com/send?phone=+573138612304&&text=Hola, necesito ayuda con mi mascota.." target="_blank"><img src="{% static 'core/img/icono_wsp.png'%}" alt="whatsapp"></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 contact-info">
        <div class="data">
          <img src="{% static 'core/img/icono_telefono.png'%}" class="img-fix" alt="">
          <p>321 4262883</p>
        </div>
        <div class="data">
          <img src="{% static 'core/img/icono_ubicacion.png'%}" alt="">
          <p>Chía, Cund. Colombia</p>
        </div><br>
      </div>
    </div>
  </footer>
  <div class="copy">
    <p>Copyright © Pet+ 2023</p> 
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

  
